<div class='alert-message block-message info'>

  <p>Congratulations!</p>
  <p>You are in the first step of training your habit.  </p>
  <p>Don't forget to update your status <strong>EVERY DAY</strong>      </p>
  <br/>
  Have you done it today?
  <button id="finishtoday" class='btn success'>yes</button>
</div>