<div class="alert-message block-message warning">
    <p><strong>Have you ever said "I must take care of my healthy"</strong></p>
    <p><strong>Have you ever made up your mind to read more books</strong></p>
    <p>Yes, you always try to do better, but we all know it is hard</p>
    <p>Here is something to help you training a habit, </p>
    <p>help you to achieve your goal and thus to make your lifer better</p>
    <p>By using GoBest, you declare publicly about the habit you want to have</p>
    <p>And your friends in facebook will see your progress, will encourage you, will monitor you</p>
    <div class="alert-actions">
      <a id='create' href="#" class="btn primary">Start a habit today</a>
    </div>
</div>