<div class="alert-message block-message error">
  <p><strong>oops, seems like you missed some day</strong></p>
  <p>It is important to practice in the successive 21 days.</p>
  <p>If you interrupted, we suggest you to <button id='restart' class="btn small">restart</button></p>
  <p>If you just forgot to mark the missing days, <button id='markmissed' class="btn small">Mark missed day</button></p>
</div>
