<div class='alert-message block-message info'>
  you are in the <%=@current_habit.get_finished_days %> of the habit.
  Have you done it today?
  <button id="finishtoday" class='btn success'>yes</button>
</div>

